[run]
branch = True
source = uclass

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    uclass/statistics/distribution.py
    uclass/clitools/*
    uclass/database/mongo.py
    uclass/logger.py
